@import url(../../wwwroot/styles/shared.less);    

@circle-button-outer-border: solid 1px @break-color; 
@circle-button-outer-size: 28px;
@circle-button-inner-size: 20px;
@circle-button-active-color: @secondary-color;

.circle-button-outer {
    height: @circle-button-outer-size;
    width: @circle-button-outer-size;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: @circle-button-outer-border;
    position: relative;
    cursor: pointer;
    &.active {
        background-color: @circle-button-active-color;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    &:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    &.vertical {
        margin-left: 0px;
        margin-right: 0px;
    }

    &:active {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.35), 0 6px 20px 0 rgba(0,0,0,0.59);
    }

    &.disabled {
        opacity: 0.6;
    }
}

.circle-button-inner {
    box-sizing: border-box;
    height: @circle-button-inner-size;
    width: @circle-button-inner-size;
    border-radius: 50%;
}

.toolbar-panel {
    padding: 0.8rem;
    border-right: solid 1px @dark-color; 
    display: flex;
    flex-direction: column;
    .toolbar-panel-header {
        width: 100%;
        text-align: center;
        span {
            color: @secondary-color;
            text-transform: uppercase;
        }
    }
    .toolbar-panel-content {
        align-self: center;
        justify-self: center;
        flex-grow: 1;
        &.content-custom-colors {
            display: flex;
            justify-content: center;
            align-items: center;

            input {
                opacity: 0;
                position: absolute;
            }
        }
    }
}

.doodle-color-picker-wrapper {
    display: flex;

    .doodle-coloroptions-button {
        &:extend(.btn-round all);
    }

    .doodle-color-picker-favourites {
        display: grid;
        grid-template-columns: repeat(10, minmax(24px, 24px));
        grid-template-rows: repeat(6, minmax(24px, 24px));
        grid-auto-flow: column;
        grid-gap: 0.4rem;

        .doodle-color-picker-color-outer {
            &:extend(.circle-button-outer all);

            .doodle-color-picker-color-inner {
                &:extend(.circle-button-inner all);
            }
        }
    }
}