@inherits Shared.DoodleBaseComponent

<div data-toolbar-header-colorpicker="@DataAttributeName" class="doodle-canvasgrid-wrapper">
    <div class="doodle-canvasgrid-buttons">
        <button class="doodle-canvasgrid-button" title="Canvas Grid"
                @onclick="@(() => DoodleDrawInteraction.ToggleToolbarContent(ToolbarContent.CanvasGridOptions))"> 
                <span class="material-icons">grid_4x4</span>
        </button>
    </div>
</div>
