@inherits Shared.DoodleBaseComponent

<div data-toolbarbuttons-canvasgridcomponent="@DataAttributeName" class="doodle-toolbar-buttons-container">
    <div class="doodle-toolbar-buttons">
        <button data-toolbarbuttons-canvasgridcomponent-canvasgridbutton="@DataAttributeName"
                class="btn-round" title="Canvas Grid"
                @onclick="@(() => DoodleDrawInteraction.ToggleToolbarContent(ToolbarContent.CanvasGridOptions))"> 
            <span class="material-icons">grid_4x4</span>
        </button>
    </div>
</div>
