@inherits Shared.DoodleBaseComponent

@if (Show)
{
    <div data-toolbarbuttons-canvasgridcomponent="@DataAttributeName" class="doodle-toolbar-buttons-container" @attributes="AdditionalAttributes">
        <div class="doodle-toolbar-buttons">
            <button data-toolbarbuttons-canvasgridcomponent-canvasgridbutton="@DataAttributeName"
                    class="toolbar-button @Theme.ToolbarMenuButtonClass btn-canvasgridcomponent-setgrid" title="Canvas Grid"
                    @onclick="@(() => DoodleDrawInteraction.ToggleToolbarContent(ToolbarContent.CanvasGridOptions))"> 
                <span class="material-icons">grid_4x4</span>
            </button>
        </div>
    </div>
}

