@page "/"
@namespace STDoodle.DemoServerSide.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STDoodle.DemoServerSide</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="STDoodle.DemoServerSide.styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/styles/github-dark.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <style>

        .gtour-overlay {
            z-index: 10001 !important;
        }
        .gtour-wrapper {
            z-index: 10002 !important;
        }
        .tour-step-content {
            max-width: 25vw;
            min-width: 200px;
        }
        .guided-tour-wrapper[data-popper-placement^='top'] > .my-arrow {
            bottom: -16px;
            transform: rotate(180deg) !important;
        }

        .guided-tour-wrapper[data-popper-placement^='bottom'] > .my-arrow {
            top: -12px;
        }

        .guided-tour-wrapper[data-popper-placement^='left'] > .my-arrow {
            right: -12px;
            transform: rotate(90deg) !important;
        }

        .guided-tour-wrapper[data-popper-placement^='right'] > .my-arrow {
            left: -12px;
            transform: rotate(-90deg) !important;
        }
        
        .element-highlight {
            border: solid 2px #008aff;
            z-index: 9;
            position: relative;
            background-color: white;
        }
    </style>

</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script>
        var exports = {}; // defining an empty exports object is that common workaround
        window.exportImage = (imgData) => {
            window.open().document.write('<img src="' + imgData + '" />');
        }
        
        window.higlightCode = () => {
            hljs.highlightAll();
        };
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/highlight.min.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
