@page "/counter"

<h1>Counter</h1>

<p data-tour-step1>Current count: @currentCount</p>

<button  class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<STDoodle.DemoComponents.Pages.HelpDoodleDraw >

</STDoodle.DemoComponents.Pages.HelpDoodleDraw>

@* <GuidedTour TourId="tour1">
    <GuidedTourStep TourStepSequence="1" ElementSelector="[data-tour-step1]">
        This is my content
    </GuidedTourStep>
</GuidedTour> *@


@code {
    private int currentCount = 0;

    [Inject]
    public GTour.Abstractions.IGTourService GTourService { get; set; }


    private async Task IncrementCount()
    {
        //await GTourService.StartTour("tour1");
    }
}
