@page "/"

<h1>Doodle Draw</h1>

<p>
    Welcome to STDoodle.Doodle Blazor Drawing Component. 
    This package was inspired by all the Angular npm packages that are so freely available for quick starts and not so much for Blazor. 
</p>

<h1>Purpose</h1>

<p>
    This package allows for creation of a canvas drawing component on a web site. It tries to find a balance in what can be done
    via JS and Blazor Interops.
</p>

<h1>Demo</h1>

<p>
    Navigate around the site to see some demos and documentation on how to use and configure the Doodle. 
</p>


