@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<div style="height: 400px; width: 400px; background-color:yellow;">

    <Doodle.Components.DoodleResizable AutoHandleEvents="false" Height="50" Width="100" Top="100" Left="100" >
        <InActiveContent>
            <button @onclick="@(() => context.ResizeActive = true)">Activate</button>
        </InActiveContent>
        
        <ActiveContent>
            <button @onclick="@(() => context.ResizeActive = false)">DeActivate</button>
        </ActiveContent>

    </Doodle.Components.DoodleResizable>

    <Doodle.Components.DoodleResizable AutoHandleEvents="false" Height="50" Width="100" Top="200" Left="200" >
        <InActiveContent>
            <button @onclick="@(() => context.ResizeActive = true)">Activate</button>
        </InActiveContent>
        
        <ActiveContent>
            <button @onclick="@(() => context.ResizeActive = false)">DeActivate</button>
        </ActiveContent>

    </Doodle.Components.DoodleResizable>

</div>
