@import url(../../wwwroot/styles/shared.less);        
.indicator-label {
    min-width: 5rem;
    text-align: center;
}
.content-custom-sizes {
    label {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        color: @text-color;
    } 
} 
 
.size-picker-favourites {
    display: grid !important;
    grid-template-columns: repeat(3, minmax(24px, 24px));
    grid-template-rows: repeat(3, minmax(24px, 24px));
    grid-auto-flow: column;
    grid-gap: 0.4rem;
    
    .size-picker-line {
        width: 100%;
        border-top-color: rgb(94, 94, 94);;
        border-top-style: solid;
        height: 1px;
        align-self: center;
    } 
    
    .button-custom-inner {
        overflow: hidden;
        display: flex !important;

    }
}