@import url(../../wwwroot/styles/shared.less);    
 
.content-custom-sizes {
    label {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        color: @text-color;
    }
}
 
.doodle-size-picker-favourites {
    display: grid !important;
    grid-template-columns: repeat(3, minmax(24px, 24px));
    grid-template-rows: repeat(3, minmax(24px, 24px));
    grid-auto-flow: column;
    grid-gap: 0.4rem;
    
    .doodle-size-picker-outer {
        &:extend(.button-custom-outer all);
        .doodle-size-picker-inner {
            &:extend(.button-custom-inner all);
            background-color: white;
            overflow: hidden;
            display: flex;
            vertical-align: center;
            align-content: center;

            .doodle-size-picker-line {
                width: 100%;
                border-top-color: rgb(94, 94, 94);;
                border-top-style: solid;
                height: 1px;
                align-self: center;
            } 
        }
    }
}