@inherits Shared.DoodleBaseComponent

<div data-toolbar-header-colorpicker="@DataAttributeName" class="doodle-colorpicker-wrapper">
    <div class="doodle-colorpicker-buttons">
        <button class="doodle-colorpicker-button" title="Pick Color"
                @onclick="@(() => DoodleDrawInteraction.ToggleToolbarContent(ToolbarContent.ColorPicker))"> 
                <span class="material-icons" style="color: @DoodleDrawInteraction.StrokeColor;">format_color_fill</span>
        </button>
    </div>
</div>
