@inherits Shared.DoodleBaseComponent

<div data-toolbarbuttons-colorpickercomponent="@DataAttributeName" class="doodle-toolbar-buttons-container"> 
    <div class="doodle-toolbar-buttons">
        <button data-toolbarbuttons-colorpickercomponent-pickcolorbutton="@DataAttributeName"
                class="btn-round" title="Pick Color"
                @onclick="@(() => DoodleDrawInteraction.ToggleToolbarContent(ToolbarContent.ColorPicker))"> 
            <span class="material-icons" style="color: @DoodleDrawInteraction.StrokeColor;">palette</span>
        </button>
    </div>
</div>
