@import url(../../../wwwroot/styles/shared.less);    

.doodle-backgroundpicker-wrapper { 
    display: flex; 
    .doodle-backgroundpicker-buttons { 
        display: flex;
        justify-content: center;
        align-items: center;  

        .doodle-backgroundpicker-button {
           &:extend(.btn-round all);
        }

        &.vertical {
            flex-direction: column; 
        }
    }
}
