@inherits Shared.DoodleBaseComponent

<div data-toolbar-header-backgroundpicker="@DataAttributeName" class="doodle-backgroundpicker-wrapper">
    <div class="doodle-backgroundpicker-buttons">
        <button class="doodle-backgroundpicker-button" title="Pick Backgrounds"
                @onclick="@(() => DoodleDrawInteraction.ToggleToolbarContent(ToolbarContent.BackgroundPicker))"> 
                <span class="material-icons">wallpaper</span>
        </button>
    </div>
</div>