@using Doodle.Components
@using Microsoft.JSInterop

<button @onclick="RenderTest">Render</button>
<button @onclick="SaveTest">Save</button>
<button @onclick="RestoreTest">Restore</button>


<div style="height: 50vh;">
    <DoodleDraw @ref="_doodleDraw">
        
    </DoodleDraw>
</div>

<div>
    <span>@_jsonData</span>
</div>


@code {
    [Inject]
    private IJSRuntime JSInterop { get; set; }

    private DoodleDraw _doodleDraw;

    private string _jsonData;

    private async Task RenderTest() 
    {
        string base64Data = await _doodleDraw.ExportDoodleToImage();
        await JSInterop.InvokeVoidAsync("exportImage", base64Data);
    }

    private async Task SaveTest()
    {
        _jsonData = await _doodleDraw.SaveCurrentDrawState();
    }

    public async Task RestoreTest()
    {
        if (!string.IsNullOrEmpty(_jsonData))
        {
            await _doodleDraw.RestoreCurrentDrawState(_jsonData);
        }
    }

}