@using Doodle.Components
@using Microsoft.JSInterop


<div style="height: 50vh;">
    <DoodleDraw @ref="_doodleDraw" OnExportImage="RenderExportImage">
        
    </DoodleDraw>
</div>


@code {
    [Inject]
    private IJSRuntime JSInterop { get; set; }

    private DoodleDraw _doodleDraw;

    private void RenderExportImage(string base64Image) 
    {
        JSInterop.InvokeVoidAsync("exportImage", base64Image).ConfigureAwait(false);
    }

}