@using Doodle.Components
@using Microsoft.JSInterop
@using GTour.Components

<GuidedTour TourId="FormGuidedTour" OverlayEnabled="true">
    <GuidedTourStep Title="My First Step" StepName="firstStep" TourStepSequence="1" ElementSelector="[data-form-firstStep]">
        <span>This is my first step</span>
    </GuidedTourStep>
</GuidedTour>



<div style="height: 50vh;">
    <DoodleDraw @ref="_doodleDraw" OnExportImage="RenderExportImage">
        
    </DoodleDraw>
</div>


@code {
    [Inject]
    private IJSRuntime JSInterop { get; set; }

    private DoodleDraw _doodleDraw;

    private void RenderExportImage(string base64Image) 
    {
        JSInterop.InvokeVoidAsync("exportImage", base64Image).ConfigureAwait(false);
    }

}