@using Doodle.Components

<button @onclick="RenderTest">Render</button>


<div style="height: 50vh;">
    <DoodleDraw @ref="_doodleDraw">
        
    </DoodleDraw>

</div>

@code {
    private DoodleDraw _doodleDraw;
    private async Task RenderTest() 
    {
        await _doodleDraw.ExportDoodleToImage();
    }

}