@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(/_content/STDoodle/fonts/MaterialIcons-Regular.woff2) format('woff2'), url(/_content/STDoodle/fonts/MaterialIcons-Regular.woff) format('woff'), url(/_content/STDoodle/fonts/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
/* General */
/* Selected Icon Overlay */
/* Doodle Draw */
/* Canvas  */
/* Canvas Background  */
/* Buttons */
/* Round Button Element With Material Icon */
.doodle-btn-round {
  height: 36px;
  width: 36px;
  margin: 0rem 0.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0.2rem;
  background-color: white;
  border: solid 1px #8bc34a;
  color: #5a9216;
}
.doodle-btn-round span {
  font-size: 1.4rem;
}
.doodle-btn-round:active {
  outline: 0;
}
.doodle-btn-round:focus {
  outline: 0;
}
.doodle-btn-round:hover {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 12px 25px 0 rgba(0, 0, 0, 0.19);
}
.doodle-btn-round:disabled {
  box-shadow: none !important;
  border: solid 1px #5a5a5a;
  color: #5a5a5a;
}
.doodle-btn-round:disabled span {
  opacity: 0.4;
}
/*
    Round Button Element With Custom Round Inner
*/
.button-custom-outer {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: solid 1px rgba(0, 0, 0, 0.2);
  position: relative;
  cursor: pointer;
}
.button-custom-outer.active {
  background-color: #ff9800;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button-custom-outer:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.button-custom-outer.vertical {
  margin-left: 0px;
  margin-right: 0px;
}
.button-custom-outer:active {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.59);
}
.button-custom-outer.disabled {
  opacity: 0.6;
}
.button-custom-inner {
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
/* Top Menu Toolbar Buttons */
.toolbar-buttons-container {
  display: flex;
}
.toolbar-buttons-container .toolbar-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.toolbar-buttons-container .toolbar-buttons.doodle-toolbar-buttons .btn-round.selected {
  background-color: #ffc947;
}
/* Toolbar Panels (Popup toolbar) */
.toolbar-panels {
  display: flex;
}
.toolbar-panels .toolbar-panel {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  border-right: solid 1px rgba(0, 0, 0, 0.2);
}
.toolbar-panels .toolbar-panel .toolbar-panel-header {
  width: 100%;
  text-align: center;
  margin-bottom: 0.2rem;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}
.toolbar-panels .toolbar-panel .toolbar-panel-header .toolbar-panel-header-text {
  text-transform: uppercase;
}
.toolbar-panels .toolbar-panel .toolbar-panel-header .toolbar-panel-header-text.doodle-toolbar-panel-header-text {
  color: #ff9800;
}
.toolbar-panels .toolbar-panel .toolbar-panel-content {
  align-self: center;
  justify-self: center;
  flex-grow: 1;
  display: flex;
}
.toolbar-panels .toolbar-panel .toolbar-panel-content .toolbar-panel-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.toolbar-panels .toolbar-panel .toolbar-panel-content .toolbar-panel-content-wrapper .toolbar-close.doodle-toolbar-close {
  color: #ff4a4a;
}
/* Overlay element to indicate selection */
.selected-icon-overlay,
.background-source-wrapper.selected::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-size: contain;
  display: block;
  height: 18px;
  width: 18px;
  background-image: url("/_content/STDoodle/img/selected-icon.svg");
  background-repeat: no-repeat;
}
.doodle-canvas-background,
.background-source-wrapper.preview {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.background-source-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  background-size: contain;
  overflow: hidden;
}
.background-source-wrapper.preview {
  height: 128px;
  width: 128px;
  min-height: 128px;
  min-width: 128px;
  margin: 0.4rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}
