<div class="toolbar-wrapper">

    <div class="toolbar-header">
        <Doodle.Components.Toolbar.DrawActions.DrawActionsComponent></Doodle.Components.Toolbar.DrawActions.DrawActionsComponent>
    </div>


    <div hidden="@(!IsMenuOpen)" class="toolbar-content-wrapper">
        <div class="toolbar-content">
            <span>Content</span>
        </div>
    </div>

</div>

