@import url(../../wwwroot/styles/shared.less);    

@toolbar-content-background: white;

.toolbar-wrapper { 
    position: relative;
    border-bottom: solid 1px @dark-color;
    &.doodle-toolbar-wrapper {
        border-bottom: solid 1px @dark-color;
    }

    .toolbar-header {
        display: flex;
        align-content: center;
        width: 100%;
        height: @header-height;

        .toolbar-splitter {
            width: 1px;
            border-right: solid 1px @dark-color;
            margin: 0.2rem;
        }
    }
    
    .toolbar-content-wrapper {
        position: absolute;
        display: flex;
        width: 100%;
        min-height: 50px;
        top: @header-height;
        left: 0px;
        z-index: @canvas-z-index + 3;
        background: @toolbar-content-background;
        border: solid 1px @dark-color;
        &.doodle-toolbar-content-wrapper {
            border: none;
            box-shadow: @paper-elevation-4;
        }
        .toolbar-content {
            height: 100%;
        }
    }
}
