.text-area-display {
    display: inline-block;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    
}

.span-display {
    height: 100%;
    width: 100%;
    padding-right: 24px;
    display: inline-block;
}
