@if (Visible && !string.IsNullOrEmpty(BackgroundSource))
{
    <div data-doodle-background style="background-image: url(@BackgroundSource);" class="doodle-background @BackgroundClass" >


    </div>
}
