/* General */
/* Doodle Draw */
/* Canvas  */
/* Canvas Background  */
/* Buttons */
.btn-round {
  height: 28px;
  width: 28px;
  margin: 0rem 0.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0.2rem;
  background-color: white;
}
.btn-round:active {
  outline: 0;
}
.btn-round:focus {
  outline: 0;
}
.btn-round:hover {
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.btn-round:disabled {
  box-shadow: none !important;
}
.btn-round-content-image {
  height: 28px;
  width: 28px;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.selected-icon-overlay {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-size: contain;
  display: block;
  height: 18px;
  width: 18px;
  background-image: url("/_content/STDoodle/img/selected-icon.svg");
  background-repeat: no-repeat;
}
.img-circle-button {
  height: 28px;
  width: 28px;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0.2rem;
  background-color: white;
}
.img-circle-button:active {
  outline: 0;
}
.img-circle-button:focus {
  outline: 0;
}
.img-circle-button:hover {
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.img-circle-button:disabled {
  box-shadow: none !important;
}
.img-circle-button:disabled .img-circle-button-content {
  opacity: 0.4;
}
.img-circle-button-content {
  height: 28px;
  width: 28px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.circle-button-outer {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: solid 1px rgba(0, 0, 0, 0.2);
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  position: relative;
  cursor: pointer;
}
.circle-button-outer.active {
  background-color: #485248;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.circle-button-outer:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.circle-button-outer.vertical {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.circle-button-outer:active {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.59);
}
.circle-button-outer.disabled {
  opacity: 0.6;
}
.circle-button-inner {
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.doodle-canvas-background {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.doodle-draw-wrapper {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}
.doodle-draw-wrapper .splitter {
  margin-right: 0.8rem;
  margin-left: 0.8rem;
  width: 1px;
  box-sizing: border-box;
  border-right: solid 2px #3b3b3b;
}
.doodle-draw-wrapper .doodle-draw-header {
  display: flex;
  padding: 0.4rem;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  height: 50px;
}
.doodle-draw-wrapper .doodle-draw-body {
  display: flex;
}
.doodle-draw-wrapper .doodle-draw-body .doodle-draw-content {
  height: 400px;
  width: 400px;
  background-color: whitesmoke;
  position: relative;
}
