<div class="doodle-draw-wrapper">
    <div class="doodle-draw-header">
        <DoodleColorPicker></DoodleColorPicker>
    </div>
    <div class="doodle-draw-body">

        <div class="doodle-draw-left-panel">
            <DoodleColorPicker Orientation="Orientation.Vertical"></DoodleColorPicker>
        </div>
        <div @ref="RenderWrapper" class="doodle-draw-content" >
            <DoodleCanvas></DoodleCanvas>
        </div>
        <div class="doodle-draw-right-panel"></div>
    </div>

</div>

<div style="height: 200px; width:200px; background-image: url('@imgSource');" ></div>


