<div class="doodle-draw-wrapper">
    <div class="doodle-draw-header">


    </div>
    <div class="doodle-draw-body">

        <div class="doodle-draw-left-panel"></div>
        <div @ref="RenderWrapper" class="doodle-draw-content" >
            <canvas @ref="CanvasElement" width="400px" height="400px" style="background-color: yellow;">



            </canvas>
        </div>
        <div class="doodle-draw-right-panel"></div>
    </div>

</div>

<div style="height: 200px; width:200px; background-image: url('@imgSource');" ></div>


