.doodle-draw-wrapper {
    
    .doodle-draw-body {
        display: flex; 
        .doodle-draw-left-panel {

        }
        .doodle-draw-content {
            height: 400px;
            width: 400px;
            background-color: whitesmoke;
        }

        .doodle-draw-right-panel {

        }


    }
}