<div @ref="ResizeElement" data-e2e-doodle-resize-wrapper="@E2ETestingName" class="doodle-canvas-resize">
    <canvas data-e2e-doodle-canvas="@E2ETestingName" @ref="CanvasElement" class="doodle-canvas @CanvasClass" ></canvas>
</div>

