<div data-doodle-resizable-container-wrapper class="doodle-resizable-container-wrapper @(Active ? "front" : "") @ResizeContainerClass">
   @if (Content != null && Content.Count() > 0)
   {
       for (var iItem = 0; iItem < Content.Count(); iItem++)
       {
           var item = Content.ToList()[iItem];
           if (item.ResizableContentType == ResizableContentType.Text)
           {
               <DoodleResizableText @bind-DataSource="@item"></DoodleResizableText>
           }
           else if (item.ResizableContentType == ResizableContentType.Image)
           {
               <DoodleResizableImage @bind-DataSource="@item"></DoodleResizableImage>
           }
       }
   }
</div>