@import url(../wwwroot/styles/shared.less);

.doodle-size-picker-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .doodle-size-picker-favourites {
        display: flex;
        
        .doodle-size-picker-outer {
            &:extend(.circle-button-outer all);
            .doodle-size-picker-inner {
                &:extend(.circle-button-inner all);
                background-color: white;
                overflow: hidden;
                display: flex;
                vertical-align: center();
                align-content: center;

                .doodle-size-picker-line {
                    width: 100%;
                    border-top-color: rgb(94, 94, 94);;
                    border-top-style: solid;
                    height: 1px;
                    align-self: center;
                } 
            }
        }
    }

    .doodle-size-picker-custom {
        display: flex;
        padding-left: @circle-button-default-margin;
        margin-left: @circle-button-default-margin;
        justify-content: center;
        align-content: center;

        .doodle-size-picker-custom-input {
            border-width: 0px;
            border:none;
            outline: none;
            &:focus {
                outline: none;
            }
        }
    }
    
    &.vertical {
        flex-direction: column;
        .doodle-size-picker-favourites {
            flex-direction: column;
        }
        .doodle-size-picker-custom {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-left: 0rem;
            margin-left: 0rem;
            padding-top: @circle-button-default-margin;
            margin-top: @circle-button-default-margin;
            border-left: none;
        }
    }
}