.doodle-draw-wrapper .doodle-draw-body {
  display: flex;
}
.doodle-draw-wrapper .doodle-draw-body .doodle-draw-content {
  height: 400px;
  width: 400px;
  background-color: whitesmoke;
  position: relative;
}
