<div class="doodle-draw-wrapper">
    <div class="doodle-draw-header">


    </div>
    <div class="doodle-draw-body">

        <div class="doodle-draw-left-panel"></div>
        <div class="doodle-draw-content">
            <canvas @ref="CanvasElement" width="400px" height="400px" >



            </canvas>
        </div>
        <div class="doodle-draw-right-panel"></div>
    </div>

</div>


