@inherits Shared.DoodleBaseComponent

<div @ref="ResizeElement" data-doodle-resize-wrapper="@DataAttributeName" class="doodle-canvas-resize">
    <canvas data-doodle-canvas="@DataAttributeName" @ref="CanvasElement" class="doodle-canvas @CanvasClass"></canvas>
</div>

