@import url(../../wwwroot/styles/shared.less);  
.doodle-canvasgridoptions-wrapper {
    display: flex;
    height: 150px;

    .doodle-canvasgridoptions-button {
        &:extend(.btn-round all);
    }

    .toolbar-panel {
        padding: 0.8rem;
        border-right: solid 1px @dark-color; 
        display: flex;
        flex-direction: column;
        .toolbar-panel-header {
            width: 100%;
            text-align: center;
            margin-bottom: 0.2rem;
            border-bottom: solid 1px @dark-color;
            span {
                color: @secondary-color;
                text-transform: uppercase;
            }
        }
        .toolbar-panel-content {
            align-self: center;
            justify-self: center;
            flex-grow: 1;

            &.content-grid-type {
                label {
                    cursor: pointer;
                }
            }
            &.content-grid-size {
                display: flex;
                justify-content: center;
                align-items: center;

                label {
                    padding-left: 1.6rem;
                    padding-right: 1.6rem;
                    color: @text-color;
                }
            }
            &.content-grid-color {
                display: flex;
                justify-content: center;
                align-items: center;

                input {
                    opacity: 0;
                    position: absolute;
                }
            }
            &.content-close {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    input[type="radio"] {
        display: none;
    }
      
    input[type="radio"] ~ label {
        display: flex;
        opacity: 1;
    }
      
    input[type="radio"]:checked ~ label {
        opacity: 1;
        color: @primary-color-dark;
    }
}