@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(/_content/STDoodle/fonts/MaterialIcons-Regular.woff2) format('woff2'), url(/_content/STDoodle/fonts/MaterialIcons-Regular.woff) format('woff'), url(/_content/STDoodle/fonts/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
/* General */
/* Selected Icon Overlay */
/* Doodle Draw */
/* Canvas  */
/* Canvas Background  */
/* Buttons */
/* Round Button Element With Material Icon */
.btn-round {
  height: 36px;
  width: 36px;
  margin: 0rem 0.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0.2rem;
  background-color: white;
  border: solid 1px #8bc34a;
  color: #5a9216;
}
.btn-round span {
  font-size: 1.4rem;
}
.btn-round:active {
  outline: 0;
}
.btn-round:focus {
  outline: 0;
}
.btn-round:hover {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 12px 25px 0 rgba(0, 0, 0, 0.19);
}
.btn-round:disabled {
  box-shadow: none !important;
  border: solid 1px #5a5a5a;
  color: #5a5a5a;
}
.btn-round:disabled span {
  opacity: 0.4;
}
/*
    Round Button Element With Custom Round Inner
*/
.button-custom-outer {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: solid 1px rgba(0, 0, 0, 0.2);
  position: relative;
  cursor: pointer;
}
.button-custom-outer.active {
  background-color: #ff9800;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button-custom-outer:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.button-custom-outer.vertical {
  margin-left: 0px;
  margin-right: 0px;
}
.button-custom-outer:active {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.59);
}
.button-custom-outer.disabled {
  opacity: 0.6;
}
.button-custom-inner {
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
/* Toolbar Layout */
.doodle-toolbar-header-wrapper {
  display: flex;
}
.doodle-toolbar-content-wrapper {
  display: flex;
  position: absolute;
  background-color: white;
  width: 100%;
  transform: translate(0px, 50px);
  z-index: 24;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}
/* Overlay element to indicate selection */
.selected-icon-overlay {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-size: contain;
  display: block;
  height: 18px;
  width: 18px;
  background-image: url("/_content/STDoodle/img/selected-icon.svg");
  background-repeat: no-repeat;
}
.doodle-canvas-background {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.doodle-canvas-resize {
  box-sizing: border-box;
  overflow: hidden;
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 20;
}
.doodle-canvas-resize .doodle-canvas {
  background-color: transparent;
}
.doodle-canvas-resize .doodle-canvas.doodle-canvas-preview {
  display: none;
  position: absolute;
  top: 0px;
  cursor: url('/_content/STDoodle/img/cursor-draw.svg') -24 24, auto;
}
.doodle-canvas-resize .doodle-canvas.pen {
  cursor: url('/_content/STDoodle/img/cursor-draw.svg') -24 24, auto;
}
.doodle-canvas-resize .doodle-canvas.line {
  cursor: url('/_content/STDoodle/img/cursor-draw.svg') -24 24, auto;
}
.doodle-canvas-resize .doodle-canvas.eraser {
  cursor: url('/_content/STDoodle/img/cursor-eraser.svg') 12 12, auto;
}
